# Telegram configuration
TELEGRAM_TOKEN=
TELEGRAM_CHAT_IT=

# App configuration
LOG_LEVEL=
SERVER_PORT=:
CHECK_INTERVAL=
# "connection_protocol(postgres by default)://user(postgres by default):password@ip:port/db_part(logic)"
CONNECTION_STRING=""